{% extends "base.html" %}

{% block content %}
<form action="/orders/" method="post">
	{% csrf_token %}
	{{ order_form.management_form }}
<table>
<div class="form-group col-md-11">
	{{ order_form.as_p }}
</div>
<script type="text/javascript">
    $(function () {
		$('#datetimepicker1').datetimepicker({
	    inline: true,
        sideBySide: true,
        format: 'YYYY-MM-DD',
		});
});
</script>
</div>
</div>
</table>

	<input type="submit" value="Submit" class="btn btn-primary col-md-3" />
</form>

{% endblock content %}